.noteModal {
    background-color: white;
    color: #0F3569;
    border-radius: 10px;
}

.scansionHeader {
    color: #1A936F;
}

.performanceHeader {
    color: #1A936F;
}

.studentHeader {
    color: #067BC2;
}